
.game-view{
    overflow: hidden;
  }
  
  .track{
    // background-image: url('https://commons.wikimedia.org/wiki/File:Circuit_Monaco_2003.svg');
    background-size: 100%;
    position: relative;
  }