#game{
    display: flex;
    position: relative;
}
.game-view{
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;  
    // border: 10px solid red;
}
  
.ordered-view{
    display: flex;
    flex-direction: column;
    size: 100%;
    border: 1px solid red;
}

#side-bar-left{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: darkgray;
}

#side-bar-right{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: darkgray;
}
#timer{
    display: flex;
    justify-content: center;
}

#score-board{
    margin-left: auto;
    margin-right: auto;
    padding-left: 50PX;
    padding-right: 50PX;
    padding-bottom: 95%;
    border: solid red;
}

#pause-button{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 50%;
}

.track-map{
    margin-top: 30%;
    margin-bottom: 70%;
    width: 200px;
    transform: rotate(-90deg);
    border: solid red;
}

#end-of-lap{
    display: flex;
    text-align: center;
    margin: auto;
    // margin-left: 50%;
    // margin-right: 50%;
    // margin-top: 50%;
    padding: 40px;
    // z-index: 1;
    position: absolute;
    border-radius: 5px;
    background-color: darkred;
    opacity: .8;
}

#pause-menu{
    display: flex;
    text-align: center;
    margin: auto;
    color: white;
    // margin-left: 50%;
    // margin-right: 50%;
    // margin-top: 50%;
    padding: 40px;
    z-index: 99999;
    // z-index: 1;
    position: absolute;
    border-radius: 5px;
    background-color: darkred;
    opacity: .8;
}

#Main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Merriweather', serif;
    color: firebrick;
}

#start-button{
    background-color: darkred;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#linkedin{
    height: 10px;
}
//   .track{
//     // background-image: url('https://commons.wikimedia.org/wiki/File:Circuit_Monaco_2003.svg');
//     background-size: 100%;
//     position: relative;
//   }